<!DOCTYPE html>
<html>

<head>

    <title>AI Smart Comment System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1>🌍 AI Powered Smart Comment Moderation System</h1>

<form action="/add" method="POST">

    <input type="text"
           name="text"
           placeholder="Write comment"
           required>

    <input type="text"
           name="city"
           placeholder="City Name"
           required>

    <button type="submit">
        Post
    </button>

</form>

<div class="leaderboard">

    <h2>🏆 Top Comments</h2>

    {% for top in leaderboard %}

    <div class="leader-item">

        <p>{{ top.text }}</p>

        <span>👍 {{ top.likes }}</span>

    </div>

    {% endfor %}

</div>

{% for comment in comments %}

<div class="comment-box">

    <h3>{{ comment.text }}</h3>

    <p>📍 {{ comment.city }}</p>

    <p>{{ comment.sentiment }}</p>

    <p>👍 Likes: {{ comment.likes }}</p>

    <p>👎 Dislikes: {{ comment.dislikes }}</p>

    <a href="/like/{{ comment.id }}">
        👍 Like
    </a>

    <a href="/dislike/{{ comment.id }}">
        👎 Dislike
    </a>

    <button onclick="translateComment({{ comment.id }})">
        Translate
    </button>

    <p id="translated-{{ comment.id }}"></p>

</div>

{% endfor %}

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>